PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/mern-master
JWT_SECRET=your_super_secret_key_change_this
JWT_EXPIRES_IN=100d
NODE_ENV=development
CLIENT_URL=http://localhost:5173